<div class="card" [class]="customClass">
    <div class="item-header">
        {{idea?.createdOn | date: 'medium'}}
        <i 
            *ngIf="!isModal"
            class="bi item-bookmark"
            [ngClass]="{
                'bi-bookmark': !isIdeaSaved,
                'bi-bookmark-check-fill': isIdeaSaved
            }"
            (click)="onSaveIdeaClick()"
        ></i>
        <i *ngIf="isModal" style="cursor: pointer;" (click)="closeModal()" class="bi bi-x-lg"></i>
    </div>
    <div class="products" style="height: 350px;">
        <div class="product active" (click)="openIdeaDetailsModal.emit()">
            <div class="thumbnail">
                <img [src]="imgUrl" [alt]="alt">
            </div>
            <h1 class="title">{{idea?.title | titlecase}}</h1>
            <div class="author">
                <!-- <p>- {{idea?.createdBy?.employee_id}}</p> -->
                <a *ngFor="let tag of idea?.tags" class="badge badge-dark">{{tag | titlecase}}</a>
            </div>
            <p class="description">
                {{idea?.description}}
            </p>
        </div>
    </div>
    <div class="footer">
        <a class="btn" [ngClass]="{'disabled-cursor': isModal}" (click)="onUpvoteClick()"  id="prev" ripple="" ripple-color="#666666">
            <i 
                style="font-size: 24px;" 
                class="bi" 
                [ngClass]="{
                    'bi-arrow-up-square-fill': isUpvoted, 
                    'bi-arrow-up-square': !isUpvoted
                }"
            ></i>
            {{idea?.votes?.length}}
        </a>
    </div>
</div>