<form class="login100-form validate-form" [formGroup]="signupForm" #ngForm="ngForm">
    <span class="login100-form-title p-b-43">
        SignUp to continue
    </span>
    
    <div 
        class="wrap-input100 validate-input" 
        data-validate="Valid Employee Id is required: 123..."
        [ngClass]="{'alert-validate': ngForm.submitted && signupForm.invalid}"
    >
        <input class="input100" 
        [ngClass]="{'has-val' : signupForm.get('employeeId')?.value?.length > 0}" formControlName="employeeId" type="text" name="email">
        <span class="focus-input100"></span>
        <span class="label-input100">Employee Id</span>
    </div>

    <div class="flex-r-m w-full p-t-3 p-b-32">
        <div>
            <a routerLink="/login" class="txt1">
                <i class="bi bi-arrow-left"></i>
                Go Back to Login?
            </a>
        </div>
    </div>


    <div class="container-login100-form-btn">
        <button (click)="signup()" class="login100-form-btn">
            SignUp
        </button>
    </div>
    
    <div class="text-center p-t-46 p-b-20">
        <span class="txt2">
            or sign up using
        </span>
    </div>
   
    <div class="login100-form-social flex-c-m">
        <a routerLink="/signup" class="login100-form-social-item flex-c-m bg1 m-1">
            <i class="bi bi-facebook"></i>
        </a>

        <a routerLink="/signup" class="login100-form-social-item flex-c-m bg2 m-1">
            <i class="bi bi-twitter"></i>
        </a>
    </div>
</form>