<div class="right-side-bar" [@openClose]="isExpanded ? 'open' : 'close'">
    <svg *ngIf="!isExpanded" style="margin: auto; cursor: pointer;" (click)="isExpanded = !isExpanded"
        xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-caret-left"
        viewBox="0 0 16 16">
        <path
            d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z" />
    </svg>

    <div *ngIf="isExpanded" class="offcanvas-body">

        <div id="logo">
            <h1><a routerLink="/home"><span>#</span>{{currentUserEmployeeId | titlecase}}</a></h1>
        </div>

        <svg *ngIf="isExpanded" style="position: absolute; top: 50%; cursor: pointer;"
            (click)="isExpanded = !isExpanded" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
            fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
            <path
                d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z" />
        </svg>

        <!--   
            List of saved cards with of Ideas in sync with firestore.
        -->
        <div *ngIf="savedIdeasList.length === 0" style="position: absolute; top: 50%; left: 35%;">No Saved Items Yet!</div>
        <app-idea-card 
            *ngFor="let idea of savedIdeasList" 
            [cardData]="idea" 
            [currentUserEmployeeId]="currentUserEmployeeId"
            [customClass]="'sidebar-card'" 
            [imgUrl]="'../../../../../assets/images/7747.jpg'"
            [alt]="'Alt Image'"
            (votesCountChange)="updateVoteCount(idea.ideaId,$event)"
            (savedIdeaChange)="updateSavedArray(idea.ideaId,$event)"
        >
        </app-idea-card>
    </div>
</div>

<div *ngIf="isExpanded" (click)="isExpanded = !isExpanded" [ngClass]="{'show': isExpanded}"
    class="offcanvas-backdrop fade"></div>

<!-- ======= List Section ======= -->
<div>
    <div class="container">
        <div style="display: flex;">
            <div class="d-sm-flex flex-sm-row flex-wrap position-fixed p-2 item-tags">
                <button 
                    *ngFor="let tag of tagsList" 
                    type="button" 
                    class="btn"
                    [ngClass]="{
                        'btn-dark': filterObj?.includes(tag?.tag?.toLowerCase()),
                        'btn-outline-dark': !filterObj?.includes(tag?.tag?.toLowerCase())
                    }"
                    (click)="onFilterChange(tag?.tag)"
                >
                     {{tag?.tag | uppercase}} <span class="badge badge-light">{{tag?.total}}</span>
                </button>
            </div>
            <div class="container-fluid item-list">
                <button 
                    style="margin-right: 10px;" 
                    type="button" 
                    class="btn"
                    [ngClass]="{
                        'btn-dark': sortObj.field === 'votesCount',
                        'btn-outline-dark': sortObj.field !== 'votesCount'
                    }"
                    (click)="onSortChange('votesCount')"
                >
                    <i *ngIf="sortObj.field === 'votesCount'"
                        class="bi" 
                        [ngClass]="{
                            'bi-arrow-up': sortObj.dir === 'asc',
                            'bi-arrow-down': sortObj.dir === 'desc'
                        }"
                    ></i>
                    Vote
                </button>
                <button 
                    type="button" 
                    class="btn btn-outline-dark"
                    [ngClass]="{
                        'btn-dark': sortObj.field === 'createdOn',
                        'btn-outline-dark': sortObj.field !== 'createdOn'
                    }"
                    (click)="onSortChange('createdOn')"
                >
                    <i 
                        *ngIf="sortObj.field === 'createdOn'"
                        class="bi"
                        [ngClass]="{
                            'bi-arrow-up': sortObj.dir === 'asc',
                            'bi-arrow-down': sortObj.dir === 'desc'
                        }"
                    ></i>
                    Date
                </button>
                <div class="d-sm-flex flex-sm-row flex-wrap">
                    <!--   
                        List of cards with of Ideas in sync with firestore.
                    -->
                    <app-idea-card 
                        *ngFor="let idea of displayIdeasList; let i = index;" 
                        [cardData]="idea"
                        [currentUserEmployeeId]="currentUserEmployeeId"
                        [imgUrl]="THUMBNAILS.get(idea.tags[0]) || ''"
                        [alt]="'Alt Image'"
                        (votesCountChange)="updateVoteCount(idea.ideaId,$event)"
                        (savedIdeaChange)="updateSavedArray(idea.ideaId,$event)"
                        (click)="openIdeaDetails(idea)"
                    >
                    </app-idea-card>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End List Section -->