
/*--------------------------------------------------------------
# sidebar Section
--------------------------------------------------------------*/
.offcanvas-header {
    justify-content: center;
}
.offcanvas-backdrop {
    z-index: 0;
}
.offcanvas-backdrop.show {
    opacity: .5;
    z-index: 1040;
}
.right-side-bar {
    top: 0;
    right: 0;
    border-left: 1px solid rgba(0,0,0,.2);
    border-radius: 12px 0 0 12px;
    position: fixed;
    bottom: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-clip: padding-box;
    outline: 0;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}
.right-side-bar #logo h1 {
    color: #505050;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    font-family: Montserrat-Bold;
}

.right-side-bar #logo h1 a {
    color: #333333;
    display: inline-block;
    text-decoration: none;
    margin-left: 32px;
}

.right-side-bar #logo h1 a span {
    color: #6675df;
}
.right-side-bar .nav-bar-avatar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.right-side-bar .nav-bar-avatar-container .nav-bar-avatar {
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    box-sizing: border-box;
}
/*--------------------------------------------------------------
# tags section
--------------------------------------------------------------*/
.item-tags {
    left: 6.5%;
    width: 20%;
    top: 30%;
}
.item-tags button {
    margin: 5px 5px 0 0;
}
.item-tags button span {
    padding-left: 0.45em;
    color: #6675df;
    background-color: #f8f9fa;
    margin-left: 2px;
}

/*--------------------------------------------------------------
# list section
--------------------------------------------------------------*/
.item-list {
    margin-left:25%;
    width:100%;
    margin-top: 100px;
}
.item-list .list-container-header {
    display: flex;
    justify-content: space-between;
}